// Footer
footer{
  &.dark-bg{
    background-color: color(BlueBrand);
  }
  position: relative;
  z-index: 2;
  .inner{
    max-width: 1200px;
    margin: 1.875rem auto 0;
    padding: 3rem 60px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media  #{$large-down}{
      padding: 2rem 60px;
    }
    @media  #{$medium-down}{
      padding: 2rem;
    }
    @media  #{$small-only}{
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 1.5rem 1rem;
    }
    .logo{
      height: 40px;
      display: flex;
      align-items: center;
      @media  #{$medium-down}{
        height: 1.5rem;
        .big{
          height: 1.5rem;
          width: 124px;
          svg{
            height: 1.5rem;
            width: 124px;
          }
        }
      }
      @media  #{$small-only}{
        margin-bottom: 1rem;
      }
    }
    ul{
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      @media  #{$small-only}{
        flex-direction: column;
        align-items: flex-start;
      }
      li{
        padding-left: 2rem;
        &:first-child{
          padding-left: 0;
        }
        @media  #{$medium-down}{
          padding-left: .5rem;
        }
        @media  #{$small-only}{
          padding-left: 0rem;
        }
      }
      a{
        color: color(Light, .5);
        font-size: 1rem;
        letter-spacing: -.44px;
        line-height: 1.5;
        font-weight: 500;
        &:hover{
          text-decoration: underline;
        }
        @media  #{$medium-down}{
          font-size: .875rem;
        }
      }
    }
  }
}
