// Our brands
.other-brands {
    background-color: color(Light);
    color: color(Dark);
    padding: 60px 0 120px;
    margin-bottom: -30px;
    overflow: hidden;
    @media  #{$medium-down}{
        padding: 3rem 0;
    }
    @media  #{$small-only}{
        padding: 2rem 0;
    }

    .inner {
        &.centered {
            padding: 0 270px 36px;
            @media  #{$large-down}{
                padding: 0 200px 1.5rem !important;
            }
            @media  #{$medium-down}{
                padding: 0 2rem 1.5rem !important;
            }
            @media  #{$small-only}{
                padding: 0 1rem 1.5rem !important;
            }
        }
    }

    .brands {
        display: flex;
        justify-content: center;
        column-gap: 30px;
        padding: 0 60px;
        @media  #{$large-down}{
            padding: 0;
        }
        @media  #{$medium-down}{
            column-gap: 0;
            flex-direction: column;
        }

        div.brand {
            display: flex;
            flex-direction: column;
            width: 340px;
            background-color: color(Light);
            border-radius: $border-radius;
            box-shadow: $box-shadow;
            padding: 3rem 2.5rem 60px;
            overflow: hidden;
            transition: all .3s ease;
            overflow: hidden;
            position: relative;
            @media  #{$medium-down}{
                width: 100%;
                margin-bottom: 2rem;
                padding-left: 2rem;
                padding-right: 2rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
                border-radius: 1.25;
            }
            @media  #{$small-only}{
                margin-bottom: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
                border-radius: 1rem;
            }

            a.brand {
                align-self: flex-start;

                &:before {
                    position: absolute;
                    width: 100vw;
                    height: 100vw;
                    display: block;
                    content: '';
                    left: -25vw;
                    top: -25vw;
                }
            }

            .image-holder {
                height: 28px;
                width: 100%;
                margin-top: 1rem;

                .home & {
                    height: 1.75rem;
                }
            }

            img {
                object-position: left;
                object-fit: contain;
                height: 28px;
            }

            &:hover {
                border-radius: 0;
                box-shadow: none;
            }
        }
    }

    .circle-bg {
        width: grid(16);
        height: grid(16);
        left: -240px;
        top: 0%;
        border-radius: grid(8);
        position: absolute;
        background: radial-gradient(circle, rgba(62, 139, 195, .2) 0%, rgba(255, 255, 255, 1) 50%);
        display: block;
        z-index: -1;
    }
}

@media only screen and (min-width: 0px) and (max-width: 750px) {
    .intro .button-row {
        margin-bottom: 2rem;
    }
}

.other-brands .brands div.brand .image-holder {
    height: auto;
    max-height: 28px;
    margin-top: 0;
}

.other-brands .brands div.brand a.brand {
    margin-top: .75rem;
}

li:first-child a:before {
    -webkit-animation: showLine .45s 0s forwards;
    animation: hideLine .45s 0s forwards !important;
}

li:first-child:hover a:before {
    -webkit-animation: showLine .45s 0s forwards;
    animation: showLine .45s 0s forwards !important;
}

.subpage .contact .inner .row h5 {
    max-width: 440px;
    width: 100%;
}

#top, #buy {
    padding-top: 60px;
}

#main section.introduction {
    margin-bottom: 0;
}

.intro .content, .intro h1 {
    max-width: 800px;
}

.stats .stats-container ul li:before {
    content: '✔︎' !important;
}

header .lang-item-first img {
    height: 12px !important;
    width: 18px !important;
}

header .lang-item-first:before {
    content: none !important;
}

.buy:lang(en-gb) .packages div.package.selected:before {
    content: 'Most popular';
}

.intro--brands:after {
    content: none;
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {
    .intro--brands .image-holder img {
        left: auto !important;
    }
}

.contact h5 {
    margin-bottom: 16px !important;
}

.eu-cookies-bar-cookies-bar-wrap {
    padding-bottom: 16px !important;
    padding-top: 24px !important;
}

.eu-cookies-bar-cookies-bar-wrap .eu-cookies-bar-cookies-bar-message {
    line-height: 1.5;
}


.eu-cookies-bar-cookies-bar-wrap .eu-cookies-bar-cookies-bar-message a {
    font-weight: 400;
    text-decoration: underline;
    color: #061d27;
}

.eu-cookies-bar-cookies-bar-wrap .eu-cookies-bar-cookies-bar-button {
    padding: 12px 16px;
    font-weight: 600;

}

.bChart_container {
    margin-bottom: 16px;
}

/* poc */
.page-id-383 .benefits-slider .circle-bg {
    display: none;
}

.page-id-383 .benefits-slider {
    background: transparent;
}

.page-id-383 .benefits-slider .image-holder {
    display: none;
}

.page-id-383 .benefits-slider .intro {
    display: none;
}

.page-id-383 .benefits-slider h5 span {
    color: #f2112b;
}

.page-id-383 .benefits-slider .benefit ul {
    padding-top: 8px;
    padding-left: 0px;
    margin-left: 0;
    font-size: 16px;
}

.page-id-383 .benefits-slider .benefit ul li {
    padding-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #EEE;
    list-style: none;
    display: flex;
    justify-content: space-between;
}


.page-id-383 .benefits-slider .benefit ul li span {
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: #f2112b;
}

/* end poc */


.stats .image-holder img {
    min-width: 100%;
}

/*
.contact .image-holder{
	display: none;
} */

/* test slider */
.marquee-full-width {
    margin-top: 1.5rem;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.marquee-box {
    overflow-x: hidden !important;
    display: flex !important;
    flex-direction: row !important;
    position: relative;
    width: 100%;
}

.marquee {
    flex: 0 0 auto;
    min-width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: marqueescroll 100s linear 0s infinite;
    animation-play-state: running;
    animation-delay: 0s;
    animation-direction: normal;
}

.marquee figure {
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 8px;
    max-width: 160px;
    text-align: center;
    vertical-align: top;
}

.marquee img {
    margin: 0 auto;
    height: auto;
    max-height: 3.5rem;
    max-width: 100%;
    border: none;
}

@keyframes marqueescroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
