// Our brands
.our-brands{
  background-color: color(Light);
  color: color(Dark);
  padding: 60px 0;
  .inner{
    &.centered{
      padding: 0 270px 36px;
      @media  #{$large-down}{

      }
      @media  #{$medium-down}{

      }
      @media  #{$small-only}{

      }
    }
  }
  .brands {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding: 0 60px;
    div.brand {
      display: flex;
      flex-direction: column;
      width: 340px;
      background-color: color(Light);
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      padding: 3rem 2.5rem 108px;
      overflow: hidden;
      transition: all .3s ease;
      position: relative;
      a.brand{
        position: absolute;
        bottom: 60px;
        &:hover{
          color: color(Brand);
        }
        .home &{
          @extend .button.transparent;
          box-shadow: none;
          &:hover{
            color: color(Dark);
          }
        }
      }
      &:hover{
        border-radius: 0;
        box-shadow: none;
      }
      .image-holder{
        height: 1.75rem * 2;
        width: 100%;
        margin-bottom: 1.5rem;
        .home &{
          height: 1.75rem;
        }
      }
      img {
        object-position: left;
        object-fit: contain;
        height: 1.75rem * 2;
        .home &{
          height: 1.75rem;
        }
      }
    }
  }
}

.circle-bg{
  width: grid(16);
  height: grid(16);
  right: -240px;
  top: 0%;
  border-radius: grid(8);
  position: absolute;
  background: radial-gradient(circle, rgba(62,139,195,.2) 0%, rgba(255,255,255,1) 50%);
  display: block;
  z-index: -1;
  .home &{
    top: 50%;
    left: -240px;
  }
}
