// Contact
.contact{
  color: color(Dark);
  padding: 30px 0 60px;
  @media  #{$large-down}{
    padding: 3rem 0;
  }
  @media  #{$medium-down}{
    padding: 2rem 0;
  }
  .inner{
    padding: 0 60px;
    @media  #{$medium-down}{
      padding: 0;
    }
    .subpage &{
      .row{
        margin: 0 auto;
        max-width: 720px;
        padding: 0!important;
        @media  #{$medium-down}{
          width: 100%;
          max-width: 100%;
        }
        h5{
          max-width: 300px;
        }
      }
    }
  }
  .row{
    justify-content: center;
    align-items: center;
    @media  #{$medium-down}{
      justify-content: flex-start;
    }
  }
  h5{
    width: auto;
    max-width: 420px;
    margin-right: 60px;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0;
    @media  #{$medium-down}{
      margin-right: 16px;
      max-width: 100%;
    }
    strong, b, span{
      font-weight: 800;
    }
  }
  .button{
    @media  #{$small-only}{
      margin-top: 1.5rem;
    }
  }
  .image-holder{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    background: color(Dark);
    position: relative;
    @media  #{$medium-down}{
      width: 72px;
      height: 72px;
    }
    img{
      position: absolute;
      min-width: 100%;
      width: auto;
      height: 100%;
      object-fit: cover;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
