// Contact
.contact{
  color: color(Dark);
  padding: 30px 0 60px;
  .inner{
    padding: 0 60px;
    @media  #{$large-down}{

    }
    @media  #{$medium-down}{

    }
    @media  #{$small-only}{

    }
  }
  .row{
    justify-content: center;
    align-items: center;
  }
  @media  #{$large-down}{

  }
  @media  #{$medium-down}{

  }
  @media  #{$small-only}{

  }
  h5{
    width: auto;
    max-width: 420px;
    margin-left: 30px;
    margin-right: 60px;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0;
    strong, b, span{
      font-weight: 800;
    }
    @media  #{$large-down}{

    }
    @media  #{$medium-down}{

    }
    @media  #{$small-only}{

    }
  }
  .image-holder{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    background: color(Dark);
    position: relative;
    img{
      position: absolute;
      min-width: 100%;
      width: auto;
      height: 100%;
      object-fit: cover;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
