.page{
  // Introduction
  .introduction{
    margin-top: -4.375rem;
    padding-top: 144px;
    position: relative;
    z-index: 0;
    &.full{
      min-height: 100vh;
    }
  }
  // Background correction
  .background-correction{
    width: 100vw;
    background-color: color(Light);
  }
  .stats{
    & + .background-correction{
      z-index: 0;
      position: relative;
      margin-top: -360px;
      height: 360px;
      @media  #{$medium-down}{

      }
      @media  #{$small-only}{

      }
    }
  }
}
