.page-template-page-blocks{
  .introduction{
    h1{
      max-width: 800px;
    }
    .content{
      max-width: 800px;
    }
  }
}
.page{
  // Introduction
  .introduction{
    margin-top: -4.375rem;
    padding-top: 144px;
    position: relative;
    z-index: 0;
    background: transparent;
    &.full{
      min-height: 100vh;
    }
  }
  // Background correction
  .background-correction{
    width: 100vw;
    background-color: color(Light);
    position: relative;
    &:before{
      background: linear-gradient(180deg, rgba(6,29,39,1) 0%, rgba(32,84,121,.75) 100%);
      background-color: color(Dark);
      content: '';
      width: 100%;
      height: 600px;
      top: -600px;
      position: absolute;
      display: block;
    }
  }
  .stats{
    position: relative;
    & + .background-correction{
      z-index: 0;
      position: relative;
      margin-top: -360px;
      height: 360px;
      @media  #{$medium-down}{

      }
      @media  #{$small-only}{

      }
    }
  }
}
