$fontprimary: (
    font-family: (Roobert, sans-serif),
    load: true,
    weights: (
        'Heavy': 800,
        'Bold': 700,
        'SemiBold': 600,
        'Medium': 500,
        'Regular' : 400,
        'Light' : 300,
    ),
    font-weights: true,
    path: '~Fonts',
    files: (
        'woff',
        'woff2'
    ),
    use: (
        'body'
    ),
    types: (
        'normal'
    )
);
