/*
sass/
|
|- abstracts/
|  |- _mixins             // Sass Mixins Folder
|  |- _variables.scss     // Sass Variables
|
|- core/
|  |- _reset.scss         // Reset
|  |- _typography.scss    // Typography Rules
|
|- components/
|  |- _buttons.scss       // Buttons
|  |- _carousel.scss      // Carousel
|  |- _slider.scss        // Slider
|
|- layout/
|  |- _navigation.scss    // Navigation
|  |- _header.scss        // Header
|  |- _footer.scss        // Footer
|  |- _sidebar.scss       // Sidebar
|  |- _grid.scss          // Grid
|
|- pages/
|  |- _home.scss          // Home styles
|  |- _about.scss         // About styles
|
|- sections/ (or blocks/)
|  |- _hero.scss          // Hero section
|  |- _cta.scss           // CTA section
|
|- vendors/ (if needed)
|  |- _bootstrap.scss     // Bootstrap
|
- app.scss                // Main Sass file

*/
@import 'core/all';
@import '~matise-gryd/gryd-index';
@import '~matise-gryd/gryd-once';
@import 'typography/typography';
@import 'layout/all';
@import 'components/all';
@import 'pages/all';
@import 'sections/all';

// Site
.screen-reader-text, .sr-only{
  display: none;
}

::selection{
  color: color(Light);
  background: color(Dark);
}

html{
  overflow-x: hidden;
  background: color(Light);
  color: color(Light);
  min-height: 100vh;

}

body{
  min-height: 100vh;
  overflow-x: hidden;
}

#main{
  width: 100%;
  height: 100%;
  position: relative;
  &:after{
    content: '';
    width: grid(32);
    height: grid(32);
    border-radius: grid(16);
    position: absolute;
    background: radial-gradient(circle, rgba(32,84,121,1) 0%, rgba(6,29,39,1) 50%);
    top: grid(-4);
    right: -50%;
    display: block;
    z-index: -1;
  }
  &:before{
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: color(Dark);
    z-index: -1;
  }
  section{
    position: relative;
    z-index: 1;
  }
  .inner{
    max-width: 1200px;
    width: grid(20);
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  .inner-round{
    max-width: 1320px;
    width: grid(22);
    margin: 0 auto;
    border-radius: $border-radius;
    overflow: hidden;
  }
  .row{
    display: flex;
  }
}
